<ion-view view-title="Roteiro para Coleta de Informações">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-help" ng-click="showConfirm()"></button>
    </ion-nav-buttons>
    <ion-content ng-init="init()">
        <ion-refresher
            pulling-text="Puxe para atualizar..."
            on-refresh="atualizarPagina()">
        </ion-refresher>
        <div class="list">

            <div class="item item-divider item-positive">
                Sumário Executivo
            </div>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">O que?</span>
                <input type="text" placeholder="O que?" ng-model="roteiroParaColeta.sumarioExecutivo.atividade">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Onde?</span>
                <input type="text" placeholder="Onde?" ng-model="roteiroParaColeta.sumarioExecutivo.local">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Como?</span>
                <input type="text" placeholder="Como?" ng-model="roteiroParaColeta.sumarioExecutivo.metodo">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Quando?</span>
                <input type="text" placeholder="Quando?" ng-model="roteiroParaColeta.sumarioExecutivo.prazo">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Quem?</span>
                <input type="text" placeholder="Quem?" ng-model="roteiroParaColeta.sumarioExecutivo.responsavel">
            </label>
            <div class="item item-divider item-assertive">
                Análise de Mercado
            </div>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">O que?</span>
                <input type="text" placeholder="O que?"  ng-model="roteiroParaColeta.analiseDeMercado.atividade">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Onde?</span>
                <input type="text" placeholder="Onde?" ng-model="roteiroParaColeta.analiseDeMercado.local">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Como?</span>
                <input type="text" placeholder="Como?" ng-model="roteiroParaColeta.analiseDeMercado.metodo">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Quando?</span>
                <input type="text" placeholder="Quando?" ng-model="roteiroParaColeta.analiseDeMercado.prazo">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Quem?</span>
                <input type="text" placeholder="Quem?" ng-model="roteiroParaColeta.analiseDeMercado.responsavel">
            </label>
            <div class="item item-divider item-calm">
                Plano de Marketing
            </div>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">O que?</span>
                <input type="text" placeholder="O que?"  ng-model="roteiroParaColeta.planoDeMarketing.atividade">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Onde?</span>
                <input type="text" placeholder="Onde?" ng-model="roteiroParaColeta.planoDeMarketing.local">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Como?</span>
                <input type="text" placeholder="Como?" ng-model="roteiroParaColeta.planoDeMarketing.metodo">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Quando?</span>
                <input type="text" placeholder="Quando?" ng-model="roteiroParaColeta.planoDeMarketing.prazo">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Quem?</span>
                <input type="text" placeholder="Quem?" ng-model="roteiroParaColeta.planoDeMarketing.responsavel">
            </label>
            <div class="item item-divider item-balanced">
                Plano Operácional
            </div>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">O que?</span>
                <input type="text" placeholder="O que?" ng-model="roteiroParaColeta.planoOperacional.atividade">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Onde?</span>
                <input type="text" placeholder="Onde?" ng-model="roteiroParaColeta.planoOperacional.local">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Como?</span>
                <input type="text" placeholder="Como?" ng-model="roteiroParaColeta.planoOperacional.metodo">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Quando?</span>
                <input type="text" placeholder="Quando?" ng-model="roteiroParaColeta.planoOperacional.prazo">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Quem?</span>
                <input type="text" placeholder="Quem?" ng-model="roteiroParaColeta.planoOperacional.responsavel">
            </label>
            <div class="item item-divider item-energized">
                Plano Financeiro
            </div>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">O que?</span>
                <input type="text" placeholder="O que?" ng-model="roteiroParaColeta.planoFinanceiro.atividade">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Onde?</span>
                <input type="text" placeholder="Onde?" ng-model="roteiroParaColeta.planoFinanceiro.local">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Como?</span>
                <input type="text" placeholder="Como?" ng-model="roteiroParaColeta.planoFinanceiro.metodo">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Quando?</span>
                <input type="text" placeholder="Quando?" ng-model="roteiroParaColeta.planoFinanceiro.prazo">
            </label>
            <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Quem?</span>
                <input type="text" placeholder="Quem?" ng-model="roteiroParaColeta.planoFinanceiro.reponsavel">
            </label>

            <!--Botões Confirmar e Cancelar-->
            <div class="row">
                <div class="col col-100">
                    <button class="button button-block button-positive" ng-click="salvar()">
                        Confirmar
                    </button>
                </div>

            </div>
    </ion-content>
</ion-view>
