<ion-view view-title="AgroPlan" name="login-view" ng-int="init()">
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="CPF" ng-model="usuario.cpf">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Senha" ng-model="usuario.senha">
          </label>
      </div>
      <button class="button button-block button-outline button-positive" ng-click="login()">Login</button>
      <button class="button button-block button-outline button-positive" ng-controller="CadastroCtrl" ng-click="abrirTela()">Cadastrar</button>
  </ion-content>
</ion-view>
