<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out
-->


<ion-tabs tabs-swipable class="tabs-icon-top tabs-color-active-positive active-tab-{{ activeTab }}" on-swipe-left="onSwipeLeft()" on-swipe-right="onSwipeRight()" ng-controller="MenuCtrl" >


  <ion-tab  icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper"  href="#/tab/sumarioExecutivo" >
    <ion-nav-view name="tab-sumarioExecutivo" class="nav-tab-0"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-off="ion-ios-search" icon-on="ion-ios-search-strong"  href="#/tab/analiseMercado" >
    <ion-nav-view name="tab-analiseMercado" class="nav-tab-1"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags"  href="#/tab/planoMarketing">
    <ion-nav-view name="tab-planoMarketing" class="nav-tab-2"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-off="ion-ios-briefcase-outline" icon-on="ion-ios-briefcase"  href="#/tab/planoOperacional" >
    <ion-nav-view name="tab-planoOperacional" class="nav-tab-3"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-off="ion-social-usd-outline" icon-on="ion-social-usd"  href="#/tab/planoFinanceiro">
    <ion-nav-view name="tab-planoFinanceiro" class="nav-tab-4"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye"  href="#/tab/construcaoCenarios" >
    <ion-nav-view name="tab-construcaoCenarios" class="nav-tab-5"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/avaliacaoEstrategica" >
    <ion-nav-view name="tab-avaliacaoEstrategica" class="nav-tab-6"></ion-nav-view>

  </ion-tab>

  <ion-tab  icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks"  href="#/tab/roteiroInformacao">
    <ion-nav-view name="tab-roteiroInformacao" class="nav-tab-7"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-off="ion-document" icon-on="ion-document-text"  href="#/tab/avaliacaoDoPlano" >
    <ion-nav-view name="tab-avaliacaoDoPlano" class="nav-tab-8"></ion-nav-view>
  </ion-tab>

<ion-floating-button click="menu.show()" has-footer="true" button-color="#62c462" icon="ion-grid" icon-color="#fff">
</ion-floating-button>


</ion-tabs>
