<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Sumário Exec." icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/sumarioExecutivo">
    <ion-nav-view name="tab-sumarioExecutivo"></ion-nav-view>
  </ion-tab>

  <!-- Chats Tab -->
  <ion-tab title="Análise Mercado" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/analiseMercado">
    <ion-nav-view name="tab-analiseMercado"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="Plano de Marketing" icon-off="ion-ios-pricetags-outline" icon-on="ion-ios-pricetags" href="#/tab/planoMarketing">
    <ion-nav-view name="tab-planoMarketing"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Plano Operacional" icon-off="ion-ios-briefcase-outline" icon-on="ion-ios-briefcase" href="#/tab/planoOperacional">
    <ion-nav-view name="tab-planoOperacional"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Plano Financeiro" icon-off="ion-social-usd-outline" icon-on="ion-social-usd" href="#/tab/planoFinanceiro">
    <ion-nav-view name="tab-planoFinanceiro"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Construção de Cenários" icon-off="ion-ios-eye-outline" icon-on="ion-ios-eye" href="#/tab/construcaoCenarios">
    <ion-nav-view name="tab-construcaoCenarios"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Avaliação Estratégica" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/avaliacaoEstrategica">
    <ion-nav-view name="tab-avaliacaoEstrategica"></ion-nav-view>
    <ion-nav-view name="tab-avaliacaoEstrategica"></ion-nav-view>
  </ion-tab>


</ion-tabs>
