<ion-modal-view >
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Socios</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="modalSocio.hide()">Fechar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <label class="item item-input item-floating-label">
                <span class="input-label">Nome Completo</span>
                <input type="text" placeholder="Nome" ng-model="socio.nome" autofocus="true">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Endereço</span>
                <input type="text" placeholder="Endereço" ng-model="socio.endereco">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Cidade</span>
                <input type="text" placeholder="Cidade" ng-model="socio.cidade">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Estado</span>
                <input type="text" placeholder="Estado" ng-model="socio.estado">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Telefone</span>
                <input type="text" placeholder="(DDD) - NNNN-NNNN" ng-model="socio.telefone">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Perfil</span>
                <input type="text" placeholder="Comente sobre seu sócio..." ng-model="socio.perfil">
            </label>
            <div class="row">
                <div class="col col-60">
                    <button class="button button-block icon-rigth ion-checkmark button-positive" ng-click="botaoAdicionarSocio(socio)">
                        Confirmar
                    </button>
                </div>
                <div class="col">
                    <button class="button button-block icon-rigth ion-trash-a button-assertive" ng-click="excluirSocioPermanentemente()">
                        Excluir
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
