<ion-view view-title="Avaliação do Plano de Negócio">
  <ion-nav-buttons side="right">
    <button class="button button-icon ion-help" ng-click="showConfirm()"></button>
  </ion-nav-buttons>
  <ion-content ng-init="init()">
    <ion-refresher
    pulling-text="Puxe para atualizar..."
    on-refresh="atualizarPagina()">
  </ion-refresher>
  <div class="list">
    <div class="item item-divider">
      Avaliação
    </div>
    <label class="item item-input item-floating-label" href="#">
      <span class="input-label">Avaliação do Plano</span>
      <input type="text"  placeholder="Avaliação" ng-model="avaliacaoDoPlano.avaliacao">
    </label>
    <!--Botões Confirmar e Cancelar-->
    <div class="row">
      <div class="col col-100">
        <button class="button button-block icon-rigth ion-checkmark button-positive" ng-click="salvar()">
          Confirmar
        </button>
      </div>
    </div>
  </ion-content>
</ion-view>
