<ion-view view-title="Análise de Mercado">
  <ion-content>
    <!--Estudo do Cliente-->
    <div class="list">
      <div class="item item-divider">
        Estudo de Clientes
      </div>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Público-Alvo" ng-model="adm.cliente.publicoAlvo">
      </label>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Comportamento dos Clientes" ng-model="adm.cliente.comportamentoDosClientes">
      </label>
      <label class="item item-input" href="#">
        <input type="text" placeholder="Área de Abrangência" ng-model="adm.cliente.areaDeAbrangencia">
      </label>
      <!--Estudo de Concorrentes-->
      <div class="item item-divider">
        Estudo de Concorrentes
      </div>
      <div class="button-bar">
        <div class="col col-80">
          <button  class="button button-block icon-left ion-plus-circled button-balanced" ng-click="openConcorrentes()">Concorrentes</button>
        </div>
        <div class="col col-20">
          <button  class="button button-block button-outline icon-center ion-navicon button-balanced" ng-click="mostrarReordemConcorrente()"></button>
        </div>
      </div>
      <ion-list show-reorder="reordenarConcorrente">
        <ion-item ng-repeat="concorrente in adm.concorrentes">
          <div class="row">
            <div class="col col-90">
              {{concorrente.nome}}
              <ion-option-button class="button-positive ion-edit" ng-click="botaoEditarConcorrente(concorrente)"></ion-option-button>
              <ion-option-button class="ion-minus-circled button-assertive" ng-click="botaoRemoverConcorrente(concorrente)"></ion-option-button>
              <ion-reorder-button class="ion-navicon" on-reorder="moverConcorrente(concorrente, $fromIndex, $toIndex)"></ion-reorder-button>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <div class="item item-divider">
        Estudo de Fornecedores
      </div>
      <div class="button-bar">
        <div class="col col-80">
          <button  class="button button-block icon-left ion-plus-circled button-balanced" ng-click="openFornecedores()">Fornecedores</button>
        </div>
        <div class="col col-20">
          <button  class="button button-block button-outline icon-center ion-navicon button-balanced" ng-click="mostrarReordemFornecedor()"></button>
        </div>
      </div>
      <ion-list show-reorder="reordenarFornecedor">
        <ion-item ng-repeat="fornecedor in adm.fornecedores">
          <div class="row">
            <div class="col col-90">
              {{fornecedor.nome}}
              <ion-option-button class="button-positive ion-edit" ng-click="botaoEditarFornecedor(fornecedor)"></ion-option-button>
              <ion-option-button class="ion-minus-circled button-assertive" ng-click="botaoRemoverFornecedor(fornecedor)"></ion-option-button>
              <ion-reorder-button class="ion-navicon" on-reorder="moverFornecedor(fornecedor, $fromIndex, $toIndex)"></ion-reorder-button>
            </div>
          </div>
        </ion-item>
      </ion-list>

      <!--Botões Confirmar e Cancelar-->
      <div class="row">
        <div class="col col-60">
          <button class="button button-block button-positive" ng-click="addAnaliseDeMercado()">
            Confirmar
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-assertive" ng-click="back()">
            Cancelar
          </button>
        </div>
      </div>
    </ion-content>
  </ion-view>
