<ion-view view-title="Análise FOFA">
  <ion-content>
    <div class="list">
      <div class="col col-100">
          <button class="button button-block button-outline button-positive" ng-click="showConfirm()">
          O que é?
    </div>
      <div class="item item-divider">
        Ambiente Interno
      </div>
        <label class="item item-input-outline" href="#">
          <span class="input-label">Forças:</span>
          <input type="text"  ng-model="avaliacaoEstrategica.forca">
        </label>
        <label class="item item-input-outline" href="#">
          <span class="input-label">Fraquezas:</span>
          <input type="text" ng-model="avaliacaoEstrategica.fraquesa">
        </label>
        <div class="item item-divider">
          Ambiente Externo
        </div>
        <label class="item item-input-outline" href="#">
          <span class="input-label">Oportunidades:</span>
          <input type="text"  ng-model="avaliacaoEstrategica.oportunidade">
        </label>
        <label class="item item-input-outline" href="#">
          <span class="input-label">Ameaças:</span>
          <input type="text"  ng-model="avaliacaoEstrategica.ameaca">
        </label>

        <!--Botões Confirmar e Cancelar-->
      <div class="row">
        <div class="col col-60">
          <button class="button button-block button-outline button-positive" ng-click="salvar()">
            Confirmar
          </button>
        </div>
        <div class="col">
          <button class="button button-block button-outline button-assertive" ng-click="back()">
            Cancelar
          </button>
        </div>
      </div>
  </ion-content>
</ion-view>
