<ion-view view-title="Análise de Mercado">
  <ion-content>
    <div class="list">
        <div class="col col-100">
          <button class="button button-block button-outline button-positive" ng-click="showConfirm()">
          O que é?
    </div>
    <!--Estudo do Cliente-->
    <div class="list">
      <div class="item item-divider">
        Sumário Executivo
      </div>
      <label class="item item-input item-floating-label" href="#">
        <span class="input-label">Atividade</span>
        <input type="text" placeholder="O quê?">
      </label>
      <label class="item item-input item-floating-label" href="#">
        <span class="input-label">Local</span>
        <input type="text" placeholder="Onde?">
      </label>
      <label class="item item-input item-floating-label" href="#">
        <span class="input-label">Método</span>
        <input type="text" placeholder="Como?">
      </label>
      <label class="item item-input item-floating-label" href="#">
        <span class="input-label">Prazo</span>
        <input type="text" placeholder="Quando?">
      </label>
      <label class="item item-input item-floating-label" href="#">
        <span class="input-label">Responsável</span>
        <input type="text" placeholder="Quem?">
      </label>

      <div class="list">
        <div class="item item-divider">
          Análise de Mercado
        </div>
        <label class="item item-input item-floating-label" href="#">
          <span class="input-label">Atividade</span>
          <input type="text" placeholder="O quê?">
        </label>
        <label class="item item-input item-floating-label" href="#">
          <span class="input-label">Local</span>
          <input type="text" placeholder="Onde?">
        </label>
        <label class="item item-input item-floating-label" href="#">
          <span class="input-label">Método</span>
          <input type="text" placeholder="Como?">
        </label>
        <label class="item item-input item-floating-label" href="#">
          <span class="input-label">Prazo</span>
          <input type="text" placeholder="Quando?">
        </label>
        <label class="item item-input item-floating-label" href="#">
          <span class="input-label">Responsável</span>
          <input type="text" placeholder="Quem?">
        </label>

        <div class="list">
          <div class="item item-divider">
            Plano de Marketing
          </div>
          <label class="item item-input item-floating-label" href="#">
            <span class="input-label">Atividade</span>
            <input type="text" placeholder="O quê?">
          </label>
          <label class="item item-input item-floating-label" href="#">
            <span class="input-label">Local</span>
            <input type="text" placeholder="Onde?">
          </label>
          <label class="item item-input item-floating-label" href="#">
            <span class="input-label">Método</span>
            <input type="text" placeholder="Como?">
          </label>
          <label class="item item-input item-floating-label" href="#">
            <span class="input-label">Prazo</span>
            <input type="text" placeholder="Quando?">
          </label>
          <label class="item item-input item-floating-label" href="#">
            <span class="input-label">Responsável</span>
            <input type="text" placeholder="Quem?">
          </label>

          <div class="list">
            <div class="item item-divider">
              Plano Operacional
            </div>
            <label class="item item-input item-floating-label" href="#">
              <span class="input-label">Atividade</span>
              <input type="text" placeholder="O quê?">
            </label>
            <label class="item item-input item-floating-label" href="#">
              <span class="input-label">Local</span>
              <input type="text" placeholder="Onde?">
            </label>
            <label class="item item-input item-floating-label" href="#">
              <span class="input-label">Método</span>
              <input type="text" placeholder="Como?">
            </label>
            <label class="item item-input item-floating-label" href="#">
              <span class="input-label">Prazo</span>
              <input type="text" placeholder="Quando?">
            </label>
            <label class="item item-input item-floating-label" href="#">
              <span class="input-label">Responsável</span>
              <input type="text" placeholder="Quem?">
            </label>

            <div class="list">
              <div class="item item-divider">
                Plano Financeiro
              </div>
              <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Atividade</span>
                <input type="text" placeholder="O quê?">
              </label>
              <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Local</span>
                <input type="text" placeholder="Onde?">
              </label>
              <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Método</span>
                <input type="text" placeholder="Como?">
              </label>
              <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Prazo</span>
                <input type="text" placeholder="Quando?">
              </label>
              <label class="item item-input item-floating-label" href="#">
                <span class="input-label">Responsável</span>
                <input type="text" placeholder="Quem?">
              </label>

              <div class="row">
                <div class="col col-60">
                  <button class="button button-block button-outline button-positive" ng-click="addAnaliseDeMercado()">
                    Confirmar
                  </button>
                </div>
                <div class="col">
                  <button class="button button-block button-outline button-assertive" ng-click="back()">
                    Cancelar
                  </button>
                </div>
              </div>

    </ion-content>
  </ion-view>
