<ion-modal-view >
  <ion-header-bar class="bar-balanced">
    <h1 class="title">Fornecedores</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeFornecedores()">Fechar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="list">
      <label class="item item-input item-stacked-label">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="Nome" ng-model="fornecedor.nome">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Preço Médio dos Produtos</span>
        <input type="text" placeholder="Preço" ng-model="fornecedor.preco">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Condições de Pagamento</span>
        <input type="text" placeholder="Condições de Pagamento" ng-model="fornecedor.condicoesDePagamento">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Localização</span>
        <input type="text" placeholder="Endereço" ng-model="fornecedor.localizacao">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Prazo de Entrega</span>
        <input type="text" placeholder="Prazo de Entrega" ng-model="fornecedor.prazoDeEntrega">
      </label>
      <label class="item item-input item-stacked-label">
        <span class="input-label">Item a Ser Comprado</span>
        <input type="text" placeholder="Item a Ser Comprado" ng-model="fornecedor.item">
      </label>
      <div class="row">
        <div class="col col-60">
          <button class="button button-block icon-rigth ion-checkmark button-positive" ng-click="addFornecedor()">
            Confirmar
          </button>
        </div>
        <div class="col">
          <button class="button button-block icon-rigth ion-close button-assertive" ng-click="closeFornecedores()">
            Cancelar
          </button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
