<ion-view view-title="Sumário Executivo">
  <ion-content ng-init="inti()">
    <!--Dados da Empresa-->
    <div class="list">

      <div class="col col-100">
        <button class="button button-block button-outline button-positive" ng-click="showConfirm()">
          O que é?
        </div>
        <div class="item item-divider">
          Dados do Empreendimento
        </div>
        <label class="item item-input item-floating-label" href="#">
          <span class="input-label">Nome do Empreendimento</span>
          <input type="text" placeholder="Nome do Empreendimento" ng-model="sumarioExecutivo.dadosDoemprendimento.nome">
        </label>
        <label class="item item-input" href="#">
          <input type="text" placeholder="CNPJ" ng-model="sumarioExecutivo.dadosDoemprendimento.cnpj" ng-hide="!cnpjOuCpf">
          <input type="text" placeholder="CPF" ng-model="sumarioExecutivo.dadosDoemprendimento.cpf" ng-hide="cnpjOuCpf">
          <label class="toggle">
            <input type="checkbox" ng-model="cnpjOuCpf" ng-click="escolherCnpjOuCpf()" >
            <div class="track">
              <div class="handle"></div>
            </div>
          </label>
        </label>
        <!--Principais Pontos-->
        <div class="item item-divider">
          Principais Pontos
        </div>
        <label class="item item-input item-floating-label" href="#">
          <span class="input-label">Principais Pontos </span>
          <input type="text" placeholder="Principais Pontos" ng-model="sumarioExecutivo.principaisPontos">
        </label>
        <label class="item item-input item-floating-label" href="#">
          <span class="input-label">MIssão da Empresa </span>
          <input type="text" placeholder="Missão da Empresa" ng-model="sumarioExecutivo.missaoDaEmpresa">
        </label>

        <!--Socios-->
        <div class="item item-divider">
          Sócios
        </div>
        <div class="button-bar">
          <div class="col col-80">
            <button  class="button button-block button-outline icon-left ion-plus-circled button-balanced" ng-click="openSocios()">Sócio</button>
          </div>
          <div class="col col-10">
            <button  class="button button-block button-outline icon-center ion-android-archive button-energized" ng-click="recuperarDadosSocios()"></button>
          </div>
          <div class="col col-10">
            <button  class="button button-block button-outline icon-center ion-navicon button-balanced" ng-click="mostrarReordem()"></button>
          </div>
        </div>
        <ion-list show-reorder="reordenar">
          <ion-item ng-repeat="socio in sumarioExecutivo.socios">
            <div class="row">
              <div class="col col-90">
                {{socio.nome}}
                <ion-option-button class="button-positive ion-edit" ng-click="botaoEditarSocio(socio)"></ion-option-button>
                <ion-option-button class="ion-minus-circled button-assertive" ng-click="botaoRemoverSocio(socio)"></ion-option-button>
                <ion-reorder-button class="ion-navicon" on-reorder="moverSocio(socio, $fromIndex, $toIndex)"></ion-reorder-button>

              </div>
            </div>
          </ion-item>
        </ion-list>

        <!--Forma Jurídica-->
        <div class="item item-divider">
          Forma Jurídica
        </div>
        <label class="item item-input item-select">
          <div class="input-label">
            F. Jurídica:
          </div>
          <select ng-model="sumarioExecutivo.formaJuridica">
            <option selected>MEI</option>
            <option>Empresário Individual</option>
            <option>ERELI</option>
            <option>Sociedade Limitada</option>
            <option>Outra</option>
          </select>
        </label>

        <!--Enquadramento Tributário-->
        <div class="item item-divider">
          Enquadramento Tributário
        </div>
        <ion-checkbox class="checkbox-balanced" ng-model="sumarioExecutivo.optantePeloSimples">Optante pelo SIMPLES?</ion-checkbox>
      </label>

      <!--Fontes de Recursos-->

      <div class="item item-divider">
        Fontes de Recursos
      </div>
      <label class="item item-input item-floating-label" href="#">
        <span class="input-label">Fontes de Recursos </span>
        <input type="text" placeholder="Fontes de Recursos" ng-model="su.fontesDeRecursos">
      </label>
      <!--Botões Confirmar e Cancelar-->
      <div class="row">
        <div class="col col-100">
          <button class="button button-block button-outline icon-rigth ion-checkmark button-positive" ng-click="salvar()">
            Confirmar
          </button>
        </div>

      </div>
    </div>
  </ion-content>
</ion-view>
