<ion-modal-view >
    <ion-header-bar class="bar-balanced">
        <h1 class="title">Produtos</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="fecharProdutos()">Fechar</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="list">
            <button class="button button-block icon-rigth ion-cube button-energized" ng-click="openPopover($event)"> Produtos Sugeridos</button>
            <label class="item item-input item-floating-label" >
                <span class="input-label">Nome do Produto</span>
                <input  type="text" placeholder="Nome do Produto" ng-model="produto.nome" autofocus="true">
            </label>

            <label class="item item-input item-floating-label ">
                <span class="input-label">Ciclo de Produção</span>
                <input type="text" placeholder="Ciclo" ng-model="produto.cicloDeProducao">
            </label>
            <label class="item item-input item-floating-label">
                <span class="input-label">Preço</span>
                <input type="text" placeholder="Preço(R$)" ng-model="produto.preco">
            </label>

            <div class="row">
                <div class="col col-60">
                    <button class="button button-block icon-rigth ion-checkmark button-positive" ng-click="addProduto()">
                        Confirmar
                    </button>
                </div>
                <div class="col">
                    <button ng-if="editar" class="button button-block icon-rigth ion-trash-a button-assertive" ng-click="excluirProdutoPermanentemente()">
                        Excluir
                    </button>
                    <button  ng-if="!(editar)" class="button button-block icon-rigth ion-close-round button-energized" ng-click="fecharProdutos()">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </ion-content>
</ion-modal-view>
