<ion-view view-title="Sobre o projeto">
    <ion-content class="padding">
        <div class="col text-center">
            <img src="img/logo.png">
        </div>
        <ion-item class="item item-text-wrap">
            <p>
                AgroPlan é um aplicativo de plataforma hibrida, com o intuito de facilitar a criação de Planos de Negócio.
            </p>

            <p>
                Foi idealizado pelos professores do Instituto Federal de Santa Catarina – Câmpus Lages: Alexandre Zammar e Renato Simões Moreira.
            </p>

            <p>
                O projeto está sendo realizado pelos alunos do curso superior de Ciência da Computação: Fabio Garzarella e Vitor de Souza.
            </p>
        </ion-item>
        <div class="col col-100">
            <button class="button button-block button-outline button-balanced" ng-click="back()">
                Voltar
        </div>
    </ion-content>
</ion-view>
